fastapi==0.112.2
uvicorn[standard]==0.30.6
pydantic==2.8.2
sqlmodel==0.0.22
python-dotenv==1.0.1
httpx==0.27.0
openai>=1.35.0,<2
orjson==3.10.7
tenacity==8.5.0

# Postgres driver (prosty, binarny – wystarczy na Railway/Render)
psycopg[binary]==3.2.1

# Migracje DB
alembic==1.13.2
